<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <title>Img To PDF</title>
  <script async src="js/opencv.js" onload="openCvReady();"></script>
  <script src="js/utils.js"></script>
</head>
<body>
  <h1>Image To PDF</h1>
  <form action="/uploads" method="POST" enctype="multipart/form-data">
  <input type="file" name="avatar"/>
  <button type="submit">Convert</button>
  </form>
</body>
</html>